Flows/getDemo.flow
[{"id":"40fcf3df.440bfc","type":"tab","label":"Get/ demo ","disabled":false,"info":""},{"id":"d98d4a4d.007df","type":"http in","z":"40fcf3df.440bfc","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["149606c9.6c63b1"]]},{"id":"149606c9.6c63b1","type":"template","z":"40fcf3df.440bfc","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"name\":\"Clara\"}","output":"json","x":270,"y":260,"wires":[["61256eb3.461bf8","c4564af4.045be8","cdddc87e.b198a8"]]},{"id":"61256eb3.461bf8","type":"http response","z":"40fcf3df.440bfc","name":"","statusCode":"","headers":{},"x":390,"y":160,"wires":[]},{"id":"cdddc87e.b198a8","type":"cloudant out","z":"40fcf3df.440bfc","name":"","cloudant":"","database":"xx","service":"pmistry_nodeRedTest-cloudantNoSQLDB","payonly":true,"operation":"insert","x":410,"y":560,"wires":[]},{"id":"c4564af4.045be8","type":"debug","z":"40fcf3df.440bfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":340,"wires":[]}]