Flows/helloWorldGerman.flow
[{"id":"c75fecdd.d05d18","type":"tab","label":"Hello World in German"},{"id":"432b906d.b7d4c","type":"inject","z":"c75fecdd.d05d18","name":"","topic":"","payload":"Hello Everyone at Angel Hack ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":100,"wires":[["3b5f1bfb.cb2b24"]]},{"id":"567e37e9.d24078","type":"debug","z":"c75fecdd.d05d18","name":"","active":true,"console":"false","complete":"false","x":710,"y":100,"wires":[]},{"id":"3b5f1bfb.cb2b24","type":"watson-translator","z":"c75fecdd.d05d18","name":"german language translator ","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"de","password":"Poojakash1!2@3#","apikey":"PF2WfTPM5NuU0ab5DcMJa7t6wqRP3UXu2hlhoFOnFryv","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"","x":430,"y":100,"wires":[["567e37e9.d24078"]]}]