Flows/helloReplace.flow
[{"id":"5a759d19.6ff20c","type":"tab","label":"Hello World Replace World ","disabled":false,"info":""},{"id":"4e57edc8.be825c","type":"inject","z":"5a759d19.6ff20c","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["f3ca0307.b9c758"]]},{"id":"9c03af9f.f1514","type":"debug","z":"5a759d19.6ff20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":240,"wires":[]},{"id":"f3ca0307.b9c758","type":"function","z":"5a759d19.6ff20c","name":"","func":"var newString = msg.payload.replace(\"World\",\"Everyone , I hope you enjoy Node Red \");\n\nreturn {payload : newString};","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["9c03af9f.f1514"]]}]