Flows/languagespeach.flow
[{"id":"c75fecdd.d05d18","type":"tab","label":"Hello World in German","disabled":false,"info":""},{"id":"432b906d.b7d4c","type":"inject","z":"c75fecdd.d05d18","name":"","topic":"","payload":"today is a nice day","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":100,"wires":[["3b5f1bfb.cb2b24"]]},{"id":"567e37e9.d24078","type":"debug","z":"c75fecdd.d05d18","name":"","active":true,"console":"false","complete":"false","x":690,"y":100,"wires":[]},{"id":"3b5f1bfb.cb2b24","type":"watson-translator","z":"c75fecdd.d05d18","name":"german language translator ","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"de","password":"Poojakash1!2@3#","apikey":"PF2WfTPM5NuU0ab5DcMJa7t6wqRP3UXu2hlhoFOnFryv","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"","x":430,"y":100,"wires":[["af08062b.97c14","567e37e9.d24078"]]},{"id":"af08062b.97c14","type":"watson-text-to-speech","z":"c75fecdd.d05d18","name":"text to speech","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_DieterV3Voice","voicehidden":"en-US_AllisonV2Voice","format":"audio/wav","password":"Go3dEL-Escher-B@ch-climB-0ak5!","apikey":"YptiEGxP7PZK71dQVZq96jBmZZ7Y9KxJcDwYO9Kt5WWp","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":440,"y":360,"wires":[["6b836d2f.e5b7ac"]]},{"id":"6b836d2f.e5b7ac","type":"change","z":"c75fecdd.d05d18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":360,"wires":[["e2a7fa50.63256"]]},{"id":"e2a7fa50.63256","type":"play audio","z":"c75fecdd.d05d18","name":"","voice":"0","x":750,"y":480,"wires":[]}]