Flows/sentimentdashboard.flow
[{"id":"5ab1a7a2.728938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd9151c5.b0a4a8","type":"inject","z":"5ab1a7a2.728938","name":"","topic":"","payload":"Sad, Bad , Worst","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["9a532e85.d689c8"]]},{"id":"9a532e85.d689c8","type":"sentiment","z":"5ab1a7a2.728938","name":"","property":"payload","x":340,"y":200,"wires":[["b1511042.e05448","9d6c03ff.737ee8","dccf4439.695a28"]]},{"id":"b1511042.e05448","type":"switch","z":"5ab1a7a2.728938","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":300,"wires":[["8ad22cc7.e79868","a97aaac3.961cc8"],["b0ebbf21.124328","2c5f43ba.84e33c"]]},{"id":"8ad22cc7.e79868","type":"debug","z":"5ab1a7a2.728938","name":"Positive Sentiment","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":260,"wires":[]},{"id":"b0ebbf21.124328","type":"debug","z":"5ab1a7a2.728938","name":"Negative Sentiment","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":360,"wires":[]},{"id":"9d6c03ff.737ee8","type":"debug","z":"5ab1a7a2.728938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":580,"y":220,"wires":[]},{"id":"8f5c3ca.d9921c","type":"ui_gauge","z":"5ab1a7a2.728938","name":"","group":"83be2297.fbb538","order":1,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":500,"wires":[]},{"id":"6e2f7413.97b8f4","type":"ui_chart","z":"5ab1a7a2.728938","name":"","group":"25b1bcf3.957a3c","order":2,"width":0,"height":0,"label":"Sentiment History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":730,"y":580,"wires":[[]]},{"id":"dccf4439.695a28","type":"change","z":"5ab1a7a2.728938","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["8f5c3ca.d9921c","6e2f7413.97b8f4"]]},{"id":"308ac87e.08d738","type":"inject","z":"5ab1a7a2.728938","name":"","topic":"","payload":"Awesome Amazing YAY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["9a532e85.d689c8"]]},{"id":"c209e9ef.b939a","type":"inject","z":"5ab1a7a2.728938","name":"","topic":"","payload":"Okay, Alright","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["9a532e85.d689c8"]]},{"id":"3c375e19.5f8e6a","type":"inject","z":"5ab1a7a2.728938","name":"","topic":"","payload":"Scared, Worried","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["9a532e85.d689c8"]]},{"id":"a97aaac3.961cc8","type":"ui_text","z":"5ab1a7a2.728938","group":"83be2297.fbb538","order":0,"width":0,"height":0,"name":"","label":"Postive ","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":300,"wires":[]},{"id":"2c5f43ba.84e33c","type":"ui_text","z":"5ab1a7a2.728938","group":"83be2297.fbb538","order":0,"width":0,"height":0,"name":"","label":"Negative","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":420,"wires":[]},{"id":"83be2297.fbb538","type":"ui_group","z":"","name":"Tweet Scoreboard","tab":"59db29e1.1c5dd","order":2,"disp":true,"width":"6"},{"id":"25b1bcf3.957a3c","type":"ui_group","z":"","name":"Tweet Details","tab":"59db29e1.1c5dd","disp":true,"width":"6","collapse":false},{"id":"59db29e1.1c5dd","type":"ui_tab","z":"","name":"Tweet Details","icon":"dashboard","order":1,"disabled":false,"hidden":false}]