Flows/weather.flow
[{"id":"f2a32c4e.5e1168","type":"tab","label":"Weather"},{"id":"c5fd1a14.578788","type":"comment","z":"f2a32c4e.5e1168","name":"Berlin latitude/longitude - 52.50190,13.40868","info":"","x":390,"y":40,"wires":[]},{"id":"ff1711b6.62b74","type":"weather_insights","z":"f2a32c4e.5e1168","name":"weather insights","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"52.50190,13.40868","units":"m","language":"","x":360,"y":100,"wires":[["e4adc356.2456d8","b2441440.6008"]]},{"id":"c5212ae0.ef3808","type":"inject","z":"f2a32c4e.5e1168","name":"Start Forecast Report","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":100,"wires":[["ff1711b6.62b74"]]},{"id":"e4adc356.2456d8","type":"debug","z":"f2a32c4e.5e1168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"forecasts","targetType":"msg","x":580,"y":100,"wires":[]},{"id":"b2441440.6008","type":"function","z":"f2a32c4e.5e1168","name":"Find forecast for Friday ","func":"// The Hackathon starts on a few days from now\n// WeatherInsights returned the 10 day forecast.\n// Friday is a few days from now so let's loop through and look for .dow == Friday\nvar i = 0;\nwhile( msg.forecasts[i].dow != \"Friday\") {\n    i++;\n}\nvar Forecast = \"The forecast in Berlin on \" + msg.forecasts[i].dow +\" is \"+ msg.forecasts[i].narrative;\nmsg.payload = Forecast;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["bef176.2c9f0e88","cd8cc58e.68487"]]},{"id":"bef176.2c9f0e88","type":"debug","z":"f2a32c4e.5e1168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":200,"wires":[]},{"id":"cd8cc58e.68487","type":"watson-translator","z":"f2a32c4e.5e1168","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"es","password":"pmistry@us.ibm.com","apikey":"PF2WfTPM5NuU0ab5DcMJa7t6wqRP3UXu2hlhoFOnFryv","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"","x":150,"y":300,"wires":[["adaec0c3.19f57"]]},{"id":"adaec0c3.19f57","type":"watson-text-to-speech","z":"f2a32c4e.5e1168","name":"text to speech","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraVoice","voicehidden":"en-US_AllisonV2Voice","format":"audio/wav","password":"Go3dEL-Escher-B@ch-climB-0ak5!","apikey":"YptiEGxP7PZK71dQVZq96jBmZZ7Y9KxJcDwYO9Kt5WWp","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":380,"y":300,"wires":[["d9ed930e.b37f78"]]},{"id":"b6e46fc2.9f93c","type":"play audio","z":"f2a32c4e.5e1168","name":"","voice":"0","x":770,"y":300,"wires":[]},{"id":"d9ed930e.b37f78","type":"change","z":"f2a32c4e.5e1168","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["b6e46fc2.9f93c"]]}]