Flows/webpage.flow
[{"id":"1cace86c.228d4","type":"tab","label":"http Hello","disabled":false,"info":""},{"id":"a5aff760.3332f8","type":"http in","z":"1cace86c.228d4","name":"http webpage","url":"/webpage","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["795082bd.17946c"]]},{"id":"fd36ef2d.515e8","type":"http response","z":"1cace86c.228d4","name":"","statusCode":"","headers":{},"x":510,"y":160,"wires":[]},{"id":"795082bd.17946c","type":"template","z":"1cace86c.228d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        <div><h1>This is a simple Webpage in Node-RED</h1></div>\n        <div id=\"id_hello\">\n           <span>Hello</span>\n           &nbsp;\n           <span id=\"id_nameout\"></span>\n       </div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    <h2>What is your name:</h2> \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\"        \n                                     id=\"id_name\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\"\n                                      id=\"id_enter\"/>\n            </div>\n        </form>  \n        <script\n           src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n     </script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n            function onSubmitClicked(event){\n                $('#id_nameout').text($('#id_name').val());\n                $('#id_hello').show();\n                $('#id_form').hide();\n                event.preventDefault();\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n        </script> \n        <style> body {background-color: pink;}</style>\n    </body>\n</html>","output":"str","x":360,"y":160,"wires":[["fd36ef2d.515e8"]]}]